*.sh eol=lf
*.py eol=lf
*.h eol=lf
*.cpp eol=lf
*.md eol=crlf
*.txt eol=crlf
*.exe filter=lfs diff=lfs merge=lfs -text
tools/macos_x86_64/protoc filter=lfs diff=lfs merge=lfs -text
tools/linux_x86_64/protoc filter=lfs diff=lfs merge=lfs -text
